.create-newrole-cointainer {
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow: scroll;
}
.create-newrole-cointainer::-webkit-scrollbar {
  display: none;
}
.create-role-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.x-logo-create-role {
  width: 26.5px;
  height: 26.5px;
  padding: 5px;
  fill: #fff;
  background: rgba(35, 78, 112, 1);
  border-radius: 5px;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.create-role-head > p,
.role-permission-title > p {
  color: rgba(35, 78, 112, 1);
  font-size: 22px;
  font-weight: 500;
}
.role-permission-title > button {
  font-size: 16px;
  font-weight: 500;
  border: 0;
  background: transparent;
  color: rgba(35, 78, 112, 1);
}
.role-permission-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-role-content {
  display: flex;
  flex-direction: row; 
  align-items: center;
  gap: 25px;
  width: 100%;
  margin-top: 20px;
}

.create-role-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 25px;
  width: 100%;
  margin-top: 20px;
}

.create-role-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
#create-role-box-fullwidth {
  width: 100%;
}
.create-role-box > label {
  font-size: 14px;
  font-weight: 500;
}
.create-role-box > label > sup {
  color: red;
}
.create-role-box > input,
.create-role-box > select {
  border: 2px solid rgba(226, 226, 226, 1);
  border-radius: 10px;
  padding: 7px 15px;
  min-width: 195px;
  background: rgba(249, 249, 249, 1);
}
.create-role-box > input::placeholder,
.create-role-box > select::placeholder {
  color: hsl(0, 0%, 80%);
}
.create-role-box > input:focus,
.create-role-box > select:focus {
  border-color: rgba(35, 78, 112, 1);
  color: rgba(1, 19, 52, 1);
  background: rgba(255, 255, 2255, 1);
}

/* table */
.create-role-table {
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: gray transparent;
}
.create-role-table > table {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin-top: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}
.ceate-role-head > tr > th {
  padding: 12px 20px;
  color: rgba(35, 78, 112, 1);
  font-size: 16px;
  font-weight: 500;
}
.ceate-role-body > tr > td {
  padding: 12px 20px;
  color: rgba(1, 19, 52, 1);
  font-size: 14px;
  font-weight: 400;
}
#check-role {
  text-align: center;
}

#check-role > input[type="checkbox"] {
  width: 15px;
  height: 15px;
  border-radius: 3px;
  accent-color: rgba(0, 110, 198, 1);
  cursor: pointer;
}
.ceate-role-body > tr:nth-child(even) {
  background-color: #fff;
}

.ceate-role-body > tr:nth-child(odd) {
  background-color: rgba(35, 78, 112, 0.05);
}
.ceate-role-head > tr:nth-child(odd) {
  background: #fff;
}

/* submit btn */
.create-role-submit-container {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 20px;
}
.create-role-cancel {
  padding: 7px 25px;
  border-radius: 6px;
  border: 2px solid rgba(35, 78, 112, 1);
  color: rgba(35, 78, 112, 1);
  font-size: 16px;
  font-weight: 600;
  background: #fff;
  margin-right: 20px;
}
.create-role-save {
  padding: 7px 25px;
  border-radius: 6px;
  border: 2px solid rgba(35, 78, 112, 1);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  background: rgba(35, 78, 112, 1);
}

@media (max-width: 800px) {
  .create-role-content {
    flex-direction: column;
    gap: 15px;
  }
  .create-role-box {
    width: 100%;
  }
}
@media (max-width: 465px) {
  .create-role-cancel {
    padding: 5px 20px;
    margin-right: 10px;
  }
  .create-role-save {
    padding: 5px 20px;
  }
}
