.salesCRM-container {
  width: 100%;
  height: 100%;
  padding: 15px;
  overflow: scroll;
  background: rgba(253, 253, 253, 1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.salesCRM-container::-webkit-scrollbar {
  display: none;
}

.salesCRM-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
}
.salesCRM-header > p {
  font-size: 24px;
  font-weight: 500;
  color: rgba(35, 78, 112, 1);
}
.salesCRM-header > button {
  font-size: 14px;
  font-weight: 600;
  padding: 6px 14px;
  background: #234e70;
  color: #fff;
  border-radius: 5px;
  border: 0px;
  min-width: 123px;
}

/* search box */
.salesCRM-search-box {
  cursor: pointer;
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding: 8px 10px;
  gap: 10px;
  border-radius: 40px;
  width: 100%;
  border: 2px solid rgba(217, 217, 217, 1);
}
.salesCRM-search-box:focus {
  border: 2px solid rgba(35, 78, 112, 1);
}
.salesCRM-search-box > label {
  display: flex;
  justify-content: center;
  align-items: center;
}
.salesCRM-search-logo {
  cursor: pointer;
  width: 20px;
  height: 20px;
  fill: rgba(192, 192, 192, 1);
}
.salesCRM-search-box > input {
  width: 95%;
  border: 0px;
  background: transparent;
}
.salesCRM-search-box > input:focus {
  outline: none;
}
.salesCRM-search-box > input::placeholder {
  font-size: 15px;
  font-weight: 400;
  color: rgba(176, 176, 176, 1);
}
.salesCRM-clearfilter {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 500;
  color: rgba(35, 78, 112, 1);
  display: flex;
  justify-content: end;
  align-items: center;
}
.salesCRM-clearfilter > p {
  width: max-content;
  cursor: pointer;
}
.salesCRM-search-category {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
}
.salesCRM-input-box {
  flex: 1;
  display: flex;
  gap: 3px;
  flex-direction: column;
  min-width: 185px;
}
.salesCRM-input-box > label {
  font-size: 14px;
  font-weight: 500;
  color: rgba(42, 42, 42, 1);
}
.salesCRM-input-box > input,
.salesCRM-input-box > select {
  border: 2px solid rgba(35, 78, 112, 1);
  border-radius: 10px;
  color: rgba(1, 19, 52, 1);
  font-size: 14px;
  font-weight: 400;
  background: rgba(255, 255, 255, 1);
  padding: 7px 15px;
}
/* table title */
.salesCRM-table-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 30px;
  gap: 20px;
}
.salesCRM-table-title > p {
  color: rgba(35, 78, 112, 1);
  font-size: 16px;
  font-weight: 500;
}
.salesCRM-table-title > nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
.salesCRM-active-btn {
  padding: 6px 14px;
  border-radius: 12px;
  border: 2px solid rgba(35, 78, 112, 1);
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  background: rgba(35, 78, 112, 1);
  width: max-content;
  cursor: pointer;
}
.salesCRM-inactive-btn {
  border: 2px solid rgba(176, 176, 176, 1);
  padding: 6px 14px;
  font-size: 14px;
  font-weight: 600;
  color: rgba(176, 176, 176, 1);
  border-radius: 12px;
  background-color: white;
  width: max-content;
  cursor: pointer;
}
/* table */
.salesCRM-table-cointainer {
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: lightgray;
}
.salesCRM-table-cointainer > table {
  width: 100%;
  border: 1px solid hsla(0, 0%, 0%, 0.119);
  background: #fff;
  margin-top: 73px;
  border-radius: 4px;
}
.salesCRM-delete-logo {
  width: 20px;
  height: 20px;
  fill: black;
  margin: auto;
  cursor: pointer;
}
.salesCRM-table-head > tr > th {
  font-size: 16px;
  font-weight: 500;
  color: rgba(35, 78, 112, 1);
  padding: 15px 20px;
  border-bottom: 1px solid black;
}
.salesCRM-table-body > tr > td {
  font-size: 14px;
  font-weight: 400;
  color: rgba(26, 26, 26, 1);
  padding: 15px 20px;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.119);
}
.salesCRM-Status {
  padding: 8px;
  text-align: center;
  border-radius: 10px;
  width: max-content;
}
.salesCRM-status-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  position: relative;
}
.salesCRM-filterby {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.salesCRM-filter-box {
  display: none;
  background-color: #fff;
  z-index: 1;
  position: absolute;
  top: 20px;
  width: max-content;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.salesCRM-table-tag-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  flex-direction: row;
  position: relative;
}
.salesCRM-purchase-order-tag {
  fill: rgba(0, 112, 243, 1);
  cursor: pointer;
}
.salesCRM-purchase-orderPP-tag {
  fill: rgba(245, 166, 35, 1);
  cursor: pointer;
}
.salesCRM-readyTOsubmit-tag {
  fill: rgba(41, 167, 69, 1);
  cursor: pointer;
}
.salesCRM-purchase-tag {
  fill: #b0b0b0;
}
.salesCRM-table-hoverdata {
  display: none;
}
.salesCRM-table-hoverOFF {
  display: none;
}
.salesCRM-table-hoverON:hover > .salesCRM-table-hoverdata {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 2;
  top: -60px;
}

.salesCRM-filter-box > p {
  width: 100%;
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 500;
  color: black;
  text-align: start;

  border-radius: 5px;
}
.salesCRM-filter-box > p:hover {
  background-color: rgb(239, 239, 239);
  color: rgba(35, 78, 112, 1);
}
.salesCRM-status-filter:hover > .salesCRM-filter-box {
  display: block;
}

.salesCRM-Status-draft {
  background-color: rgba(250, 204, 21, 1);
}
.salesCRM-Status-submitted {
  background-color: rgba(140, 216, 188, 1);
}
.salesCRM-Status-SubmittedPD {
  background-color: rgba(255, 211, 177, 1);
}
.salesCRM-Status-Delivered {
  background-color: rgba(34, 197, 94, 1);
}
.salesCRM-Status-partiallyDelivered {
  background-color: rgba(255, 156, 81, 1);
}
.salesCRM-Status-Cancelled {
  background-color: rgba(255, 77, 79, 1);
}
.salesCRM-in-stock {
  color: rgba(0, 184, 0, 1);
}
.salesCRM-Insufficient-Stock {
  color: rgba(255, 77, 79, 1);
}
.salesCRM-Waiting-for-Stock {
  color: rgba(0, 110, 198, 1);
}
.salesCRM-Partially {
  color: rgba(255, 156, 81, 1);
}
.salesCRM-table-minwidth {
  min-width: 140px;
}
.salesCRM-table-maxwidth {
  min-width: 160px;
}
.salesCRM-table-largwidth {
  min-width: 175px;
}
.salesCRM-table-check {
  width: 18px;
  height: 18px;
  color: rgba(42, 42, 42, 1);
}
/* action */
#salesCRM-table-action {
  position: relative;
}
.salesCRM-dot-container {
  display: none;
  background: #fff;
  align-items: center;
  z-index: 7;
  position: absolute;
  top: -125px;
  right: 10px;
  width: max-content;
  align-items: start;
}
.salesCRM-dot-container > button {
  padding: 10px 15px;
  border-radius: 3px;
  width: 100%;
  background: white;
  border: none;
  font-size: 12px;
  font-weight: 500;
  text-align: start;
}
#salesCRM-table-action:hover > .salesCRM-dot-container {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 7px;
}
.salesCRM-dot-container button:hover {
  background: lightgray;
  cursor: pointer;
}
/* table bottem */

.salesCRM-table-bottem {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background: hsl(0, 0%, 95%);
  border-top: 0px !important;
  border: 1px solid hsla(0, 0%, 0%, 0.119);
}
.salesCRM-num-entries {
  font-size: 14px;
  font-weight: 400;
  color: #2a2a2a;
}
.salesCRM-manage-control-box {
  width: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.salesCRM-manage-btn {
  padding: 8px 10px;
  background-image: linear-gradient(#0056b3, #405189);
  border: none;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.salesCRM-manage-btn:hover {
  transform: scale(1.035);
}
.salesCRM-num-page {
  font-size: 14px;
  font-weight: 400;
  color: #2a2a2a;
}
@media (max-width: 1120px) {
  .salesCRM-table-title > nav {
    width: 100%;
    justify-content: end;
  }
}
@media (max-width: 430px) {
  .salesCRM-table-bottem {
    flex-direction: column;
    padding: 20px 10px;
  }
  .salesCRM-num-entries {
    width: 100%;
  }
  .salesCRM-manage-control-box {
    width: 100%;
    justify-content: space-between;
  }
}
